*{
	padding: 0;
	margin: 0;
}

footer{
    width: 100%;
	background-image: url(../image/footer.webp);
    filter:alpha(opacity= 85);
    -moz-opacity:.85;opacity:.85;

	& .info{
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 27%);
		grid-gap: 50px;
		padding: 45px 0px;
		& .box {
			& figure{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 250px;
			    }
			}
			& h2{
				color: darkorange;
				margin-bottom: 25px;
				font-size: 20px;
			}
			& p{
				color: orange;
				margin-bottom: 10px;
			}
		}
		& .red-social {
			& a{
				display: inline-block;
				width: 45px;
				height: 45px;
				line-height: 45px;
			}
			& img{
				width: 45px;
				height: 45px;
				line-height: 45px;
			}
		}
		
	}
	& .derechos{
		background-color: black;
		padding: 15px 10px;
		text-align: center;
		color: antiquewhite;
		& small{
			font-size: 15px;
		}
	}
}

@media  screen and (max-width: 768px) {
	footer{
		& .info{
			width: 70%;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;
			& .box figure a img{
				width: 120px;
			}
		}
	}
}



